<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mian page</title>
</head>
<body>
    <h2>Send Name</h2>
        <form method='post' active='/'>
            <input type='text' name='name' peaceholder='Enter your name'/>
            <button type='submit'>send</button>
         </form>
         <hr>
         <div>
            <a href="/about">go to about page</a>
         </div>
         <div>
            <a href="/contect">go to contact page</a>
         </div>
         <div>
            <a href="/api/admin">information json</a>
         </div>
</body>
</html>